body,
html {
  height: 100%;
  margin: 0;
}

.signin {
  background-color: #979797;
  height: 30px;
  margin-top: 20px;
  width: 100%;
}

.signin-text {
  color: #000;
  float: right;
  font-family: 'Avenir-Book', sans-serif;
  float: left;
  left: 50%;
  margin-top: 0;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  margin-top: 70px;
  width: 100%;
}

.logo-1 {
  display: block;
  font-family: 'Avenir', sans-serif;
  font-size: 12px;
  height:40.77pt;
  margin: auto;
  width: 165.95pt;
}

.tagline {
  color: #232323;
  display: block;
  font-family: 'Avenir', sans-serif;
  font-size: 7.7pt;
  margin: auto;
  margin-top: -3px;
  padding-right : 38pt;
  text-align: center;
  width: 165.95pt;
}

.line-h {
  border: 1px solid #979797;
  margin: auto;
  margin-top: 30px;
  padding-right : 38pt;
  width: 770px;
}

.menu {
  margin-left: 40px;
  margin-top: 20px;
  text-align: center;
}

li {
  color: #232323;
  display: inline;
  font-family: 'Avenir-Bold', sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 36px;
  margin-right: 80px;
  text-transform: uppercase;
}

.menu-items {
  color: #232323;
  text-decoration: none;
}

a {
  color: #232323;
  text-decoration: none;
}

.slideshow {
  display: block;
  height: 466px;
  margin: auto;
  margin-top: 30px;
  width: 816px;
}

.slides {
  height: 100%;
  width: 100%;
}

.selections {
  margin-top: 32px;
}

.heading-1 {
  color: #000000;
  font-family: 'TimesNewRomanPSMT', sans-serif;
  font-size: 18px;
  height: 32px;
  letter-spacing: 1.6px;
  line-height: 32px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
}

.heading-2 {
  color: #000000;
  font-family: 'TimesNewRomanPS-ItalicMT', sans-serif;
  font-size: 17px;
  height: 24px;
  letter-spacing: 1.6px;
  line-height: 24px;
  margin: auto;
  text-align: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 110px;
  margin-right: 110px;
  margin-top: 18px;
}

.product .thumbnail {
  height: 220px;
  width: 220px;
}

.hiw {
  margin-top: 30px;
}

.heading-3 {
  color: #000000;
  font-family: 'TimesNewRomanPSMT', sans-serif;
  font-size: 18px;
  height: 32px;
  letter-spacing: 1.6px;
  line-height: 32px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
}

.line {
  border: 1px solid #979797;
  height: 32px;
  margin: auto;
  margin-top: 8.5px;
  width: 0;
}

.steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.step {
  border: 1px solid #eee;
  height: 350px;
  text-align: center;
  width: 267px;
}

.num-1 {
  color: #7D7D7D;
  font-family: 'TimesNewRomanPSMT', sans-serif;
  font-weight: 300;
  height: 45px;
  margin: auto;
  margin-top: 43px;
  width: 23px;
}

.head-1 {
  color: #000000;
  font-family: 'TimesNewRomanPSMT', sans-serif;
  font-size: 18px;
  font-weight: 300;
  height: 32px;
  letter-spacing: 1.6px;
  line-height: 32px;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.p-1 {
  color: #232323;
  font-family: 'Avenir-Book', sans-serif;
  font-size: 17px;
  height: 140px;
  letter-spacing: 0.83px;
  line-height: 28px;
  margin: auto;
  text-align: justify;
  width: 197px;
}

.get-started {
  color: #000000;
  font-family: 'TimesNewRomanPS-ItalicMT', sans-serif;
  font-size: 17px;
  letter-spacing: 1.6px;
  line-height: 32px;
  margin-bottom: 8.5%;
  margin-top: 2.9%;
  text-align: center;
  text-decoration: underline;
}

.footer {
  background-color: #eee;
  height: 200px;
  margin-top: 50px;
  width: 100%
}


.signup {
  border: 1px solid #979797;
  height: 400px;
  margin: auto;
  margin-bottom: 200px;
  margin-top: 80px;
  text-align: center;
  width: 700px;
}

.acc {
  background: #fff;
  color: #000000;
  font-family: 'TimesNewRomanPSMT', sans-serif;
  font-size: 24px;
  height: 28px;
  letter-spacing: 1.6px;
  line-height: 28px;
  margin: auto;
  margin-top: -15px;
  text-align: center;
  width: 426px;
}

.usertype-buttons {
  margin-top: 106px;
  text-align: center;
}

.designer-button, .user-button, .p-2 {
  display: inline-block;
}

.designer-button {
  background-color: #fff;
  border: 1px solid #CBCBCB;
  color: #252525;
  float: left;
  font-family: 'Avenir-Book', sans-serif;
  font-size: 20px;
  height: 60px;
  letter-spacing: 0.87px;
  margin-left: 115px;
  width: 180px;
}

.user-button {
  background-color: #fff;
  border: 1px solid #CBCBCB;
  color: #252525;
  float: left;
  font-family: 'Avenir-Book', sans-serif;
  font-size: 20px;
  height: 60px;
  letter-spacing: 0.87px;
  width: 180px;
}

.p-2 {
  color: #000000;
  float: left;
  font-family: 'TimesNewRomanPS-ItalicMT', sans-serif;
  font-size: 24px;
  height: 28px;
  letter-spacing: 1.6px;
  line-height: 28px;
  width: 100px;
}

.create-button {
  background-color: #fff;
  border: 1px solid #494949;
  color: #252525;
  font-family: 'Avenir-Book', sans-serif;
  font-size: 20px;
  height: 52px;
  letter-spacing: 0.87px;
  margin: auto;
  margin-top: 90px;
  width: 250px;
}

.sign-up-input {
  float: left;
  height: 45px;
  margin-left: 60px;
  margin-top: 40px;
  width: 250px;
}

.btn {
  text-align: center;
}

.sign-in-input {
  height: 45px;
  margin-top: 40px;
  width: 250px;
}

.btn-sign-in {
  background-color: #fff;
  border: 1px solid #979797;
  height: 45px;
  margin-top: 40px;
  width: 250px;
}

.noacc {
  color: #000000;
  font-family: 'TimesNewRomanPS-ItalicMT', sans-serif;
  font-size: 24px;
  letter-spacing: 1.6px;
  line-height: 32px;
  margin-bottom: 115px;
  text-align: center;
  text-decoration: underline;
}

.contact {
  color: #232323;
  display: block;
  font-family: 'Avenir-Book', sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 36px;
  text-transform: lowercase;
}

.contact-text {
  font-family: 'Avenir-Heavy', sans-serif;
  text-transform: uppercase;
}

.details {
  text-transform: uppercase;
}

.footer-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.newsletter {
  font-family: 'TimesNewRomanPS-ItalicMT', sans-serif;
  font-size: 14px;
  color: #000000;
  letter-spacing: 1.2px;
  margin-top: 20px;
}

.email {
  background: #FFFFFF;
  border: 0 solid #DEDEDE;
  box-shadow: 0 2px 4px 0 rgba(229,229,229,0.50);
  width: 180px;
  height: 30px;
  margin-top: 16px;
}

.button {
  height: 20px;
  width: 20px;
  text-align: center;
}

.button-space {
  border: 1px solid #000;
  height: 30px;
  width: 56px;
  background: #252525;
  margin-top: 16px;
}

.input-space {
  display: inline;
}

.fb {
  margin-top: 30px;
  height: 20px;
  width: 20px;
  margin-left: -40px;
}
